<div class="FooterContainer">
  <footer class="flickerIn">
    All who view these schematics must agree to never take away control from the player if it's to do something cool [UNATCO Provision 04.51sec117]. Kampfer Model sourced from Gundam Breaker.
  </footer>

  <div class="exposedInfo flickerIn">
    <p id="cursorPos">Cursor X: 0.0% Y: 0.0%</p>
    <p id="TimeSinceReload">Time Since Page Reload:</p>
    <p id="layoutName">Latest 3D Layout: Uninitialized</p>
    <p id="frameGenTime">Frame Gen Time: 0.0ms</p>
  </div>
</div>

<script>
  document.addEventListener('mousemove', (event) => {
  const cursorPosEl = document.getElementById('cursorPos');
  if (!cursorPosEl) return;

  
  const xPercent = (event.clientX / window.innerWidth) * 100;
  
  const yPercent = (1 - (event.clientY / window.innerHeight)) * 100;

  
  const xStr = xPercent.toFixed(1);
  const yStr = yPercent.toFixed(1);

  
  cursorPosEl.textContent = `Cursor X: ${xStr}% Y: ${yStr}%`;
  });

  document.addEventListener('DOMContentLoaded', function() {
    var timeElement = document.getElementById('TimeSinceReload');
    
    if (timeElement) {
        let startTime = Date.now();
        
        function updateTime() {
            let elapsedTime = Math.floor((Date.now() - startTime) / 1000); 

            let seconds = elapsedTime % 60;
            let minutes = Math.floor(elapsedTime / 60) % 60;
            let hours = Math.floor(elapsedTime / 3600);

            let timeString = '';

            if (hours > 0) {
                timeString = `${hours}h${minutes}s`;
            } else if (minutes > 0) {
                timeString = `${minutes}m${seconds}s`;
            } else {
                timeString = `${seconds}s`;
            }

            timeElement.innerHTML = 'Time Since Page Reload: ' + timeString;
        }

        setInterval(updateTime, 1000); 
    }
});
</script>