@keyframes BounceInFromAbove{
  0%{
    transform: translateY(-600px);
    transform: translateZ(-1);
    opacity: 0;
  }
  
  20%{
    opacity: 0;
  }

  99%{
    transform: translateZ(-1);
  }

  100%{
    transform: translateY(0px);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes BounceInFromBelow {
  0% {
    transform: translateX(-2500px);
    transform: translateZ(-1);
  }

  99% { transform: translateZ(-1); }

  100% {
    transform: translateX(0px) translateZ(0);
  }
}

@keyframes flickerIn{
  0%{ opacity: 0%; }
  37%{ opacity: 0%; }
  38%{ opacity: 60%; }
  49%{ opacity: 60%; }
  50%{ opacity: 10%; }
  54%{ opacity: 10%; }
  55%{ opacity: 60%; }
  63%{ opacity: 60%; }
  64%{ opacity: 100%; }
  87%{ opacity: 100%; }
  88%{ opacity: 10%; }
  96%{ opacity: 10% }
  97%{ opacity: 100%;}
  100%{ opacity: 100%; }
}

.flickerIn {
  animation-duration: 1s;
  animation-name: flickerIn;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.flickerIn.KeyInfo {
  opacity: 0;
  animation-delay: 0.1s;
}


.flickerIn.Title {
  opacity: 0;
  animation-delay: 0.2s;
}


.flickerIn.RTC {
  opacity: 0;
  animation-delay: 0.3s;
}


footer.flickerIn{
  opacity: 0;
  animation-delay: 0.4s;
}


.flickerIn.exposedInfo{
  opacity: 0;
  animation-delay: 0.5s;
}

.flickerIn.button{
  opacity: 0;
  animation-delay: 1s;
}

#hanger{
  transform: translateY(1200px);

  animation-name: BounceInFromBelow;
  animation-duration: 3s;
  //animation-timing-function: cubic-bezier(0.300, 1.395, 0.275, 1.010);
  animation-fill-mode: forwards;
  animation-delay: 1s;
}