.exposedInfo {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  
    /* Adjust styling to match your aesthetic */
    font-family: 'Inter', "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: right; /* So the text lines up nicely to the right */
  }
  
.exposedInfo div {
margin: 0.2rem 0; /* a little spacing between lines */
}