.FooterContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;

  background-image: linear-gradient(to top, rgba(239, 241, 245, 1), rgba(239, 241, 245, 0));

  footer{
    flex-grow: 1;
  }

  .exposedInfo {
    p{
      text-align: right;
      margin: 0;
    }
    flex-shrink: 0;
  }
}