.siteHeader {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  
  font-size: 1rem;
  line-height: 1;
  pointer-events: none;
}

.siteHeader h1,
.siteHeader h2 {
  font-weight: 100;
  margin: 0;
}

.siteHeader h1 {
  font-size: 3.5em;
}

.siteHeader h2 {
  font-size: 1.65em;
}