.Header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: flex-start;
  width: 100%;

  .KeyInfo {
    text-align: left;  // Align KeyInfo to the left
  }

  .CenterBar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;  // Ensures the title is centered

    .Title {
      letter-spacing: 1rem;
    }
  }

  .RTC {
    text-align: right;  // Align RTC to the right
  }
}