@use "animations.scss";

* {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body {
  background-color: #EFF1F5;
  background-image: url(/assets/images/dot_matrix.png);
}

a{
  text-decoration: none;
  color:black;
}

h1, h2{
  margin: 0;
}

h1{
  font-size: clamp(2rem, 1.5vw, 3rem);
}

h2{
  font-size: clamp(1rem, 1vw, 1.65rem);
}

footer {
  font-size: clamp(0.675rem, 1vw, 1rem);
  line-height: 1.4;
  font-weight: 200;
}

p{
  font-weight: 200;
  font-size: clamp(0.75rem, 1vw, 1rem);
  text-align: justify;
}

.RootContainer{
  height: 98.92vh; //Body and HTML Margins fuck it all up so here it is lol
  max-height: 98.92vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

.HeaderContainer{
  grid-row-start: 1;
  grid-row-end: 2;
}

.FooterContainer{
  grid-row-start: 3;
  grid-row-end: 4;

  margin-top: 1rem;
}

.ContentContainer{
  max-width: 1200px;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.ButtonContainer{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 3rem;

  margin-top: 0.5rem;

  .button{
    width:80px;
    flex-grow: 1;

    border: 0.2rem solid black;
    background-color: #EFF1F5;

    transition: background-color 0.4s ease;

    text-align: center;
    h1{
      white-space: nowrap;
      font-size: clamp(0.8rem, 3vw, 2rem);
      font-weight: 400;
      transition: font-weight 0.4s ease;
    }
    img{
      height: 1rem;
      width: auto;
    }

    &:hover{
      background-color: #FFFFFF;
      h1{
        font-weight: 900;
      }
    }
  }

}

.Viewport{
  width: 100%;
  flex-grow: 1;
}

.LimbContentWrapper{
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  width: 100%;
  height: 100%;

  .Viewport{
    flex-basis: 10rem;
    flex-grow: 1;
  }

  .TextColumn{
    width: 50px;
  }
}

.TextColumn{
  margin-top: clamp(0.1rem, 1vw, 3rem);
  flex: 2 1 0;

  width: 100%;

  display: flex;
  flex-flow: column;

  min-height: 0;

  background-color: rgba(239, 241, 245, 0.4);
}

.HeadingBox{
  margin-bottom: 2rem;

  h1, h2{
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.9;
  }

  h1{
    font-size: clamp(3rem, 7vw, 6rem);
  }

  h2{
    font-size: clamp(0.1rem, 1vw, 1rem);
  }
}

.ContentBox{
  flex: 1 1 0;
  min-height: 0;
  overflow-y: scroll;

  h1{
    font-size: 4rem;
    font-weight: 600;
  }

  h2{
    font-size: 3rem;
    font-weight: 300;
  }

  img{
    width: 50%;
    height: auto;
    display: inline;
    //margin-left: auto;
    //margin-right: auto;
    float:left;
    margin: 1rem;
  }

  p{
    display: inline;
  }
}

.Entries{
  margin-top: clamp(0.1rem, 1vw, 3rem);
  width: 100%;

  flex: 1 1 0;
  min-height: 0;
  overflow-y: scroll;
}

.Post{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-height: 182px;
  background-color: #EFF1F5;

  .PreviewImage{
    width: 20%;
  }

  .PostInfo{
    width: 80%;
    min-height: 0;
    overflow-y: scroll;
  }

  .PreviewImage, .PostInfo{
    border: 0.1rem solid #dddddd;
    margin: 0.4rem;
    padding: 0.4rem;
  }

  .PostTop{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.HoverSelect{
  transition: background-color 0.4s ease;

  h1{
    transition: font-weight 0.4s ease;
  }

  &:hover{
    background-color: #FFFFFF;
    
    h1{
      font-weight: 900;
    }
  }
}

.barbaContainer{
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 2;

  width: 100%;

  border: 2px solid red;
}