@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
 }

 @keyframes flickerIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  15% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.1;
  }
  45% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.9;
  }
}

// Flicker Out Animation
@keyframes flickerOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.6;
  }
  35% {
    opacity: 0.9;
  }
  45% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.2;
  }
  85% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounceInRight {
  0% {
    transform: translateX(600px);
    opacity: 0;
  }
  60% {
    transform: translateX(-25px);
    opacity: 0.8;
  }
  80% {
    transform: translateX(10px);
    opacity: 0.9;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
 }

// Flicker Out Animation
@keyframes flickerOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.6;
  }
  35% {
    opacity: 0.9;
  }
  45% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.2;
  }
  85% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

.splash_title {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  animation: fadeOut 2.5s forwards;
}

.flicker_in {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  animation: flickerIn 2s forwards;
}

.flicker_out {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  animation: flickerOut 2s forwards;
}

.right_bounce {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-align: right;
  animation: bounceInRight 1s cubic-bezier(0.36, 0, 0.66, -0.56) forwards;
 }

* {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
  
h1 {
    font-weight: 800;
}
  
h2 {
    font-weight: 200;
}

body {
    background-color: #EFF1F5;
}

.postContentBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 5rem;
  height: 85vh;

  h1, h2{
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.9;
  }

  h1{
    font-size: 6rem;
  }

  h2{
    font-size: 1rem;
  }

  
  
  .Viewport {
    flex: 0 1 25rem;
  }
  
  .TextColumn {
    flex: 0 0 35rem;
    display: flex;
    flex-direction: column;
    
    .HeadingBox{
      margin-bottom: 2rem;
    }

    .ContentBox{
      flex: auto;
    }
    
    .Buttons{
      display: flex;
      width: auto;
      flex-flow: row nowrap;
      gap: 0.3rem;
      
      a{
        color: black;
        flex-grow: 1;
        text-decoration: none;
        border: 0.2rem solid black;
        background-color: white;
        text-align: center;
        font-size: 3rem;
        border-radius: 1rem;
  
      }
    }
  }
}

.HangerContainer{
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;

  a{
    text-decoration: none;
  }

  .ButtonContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12rem;
    align-items: center;
    

    .button{
      flex: auto;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      color: black;
      font-size: 5rem;
      letter-spacing: 0.5rem;
    }

    img {
      height: 7rem;
    }

  }

  .Viewport{
    width: 60rem;
  }

  .White{
    * {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.BlogEntryContainer{
  display:flex;
  flex-flow: column wrap;
  gap: 2rem;
  justify-content: space-around;
  width: 100rem;

  .Post{
    border: 0.1rem solid #dddddd;
    padding: 1rem;
    text-align: center;
    max-width: 20rem;
    h2{
      font-weight: 300;
      color: black;
      margin-top: 1.2rem;
      margin-bottom: 1.5rem;
    }
  }

  a{
    text-decoration: none;
  }
}

.BlogHeader {
  width: auto;
  text-align: center;
  font-weight: 100;
  font-size: 5rem;
  margin-top: 0;
  letter-spacing: 1rem;
}

.contentcentering{
  display: flex;
  flex-direction: row;
  justify-content: center;

  a{
    text-decoration: none;
    color:black;
    div{
      font-weight: 300;
      font-size: 1.5rem;
    }
  }
}

.TextColumn.BlogPost{
  flex: 0 0 60rem;
}