// Navigation styles
.navParent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  gap: clamp(0.1rem, 2vw, 5rem);
}

.navBubbleContainer {
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
  width: 5rem;

  opacity: 0; //This is overriden by the animation, which will end
  //it at 100. Without this, the button is during the delay.

  // Navigation text
  .navText {
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 2rem;
  }

  &:hover {
    .navText {
      opacity: 1;
    }
  }
  
  img {
      width: clamp(2rem, 8vh, 4rem);
  }

  animation-duration: 1s;
  animation-name: BounceInFromAbove;
  animation-timing-function: cubic-bezier(0.300, 1.395, 0.275, 1.010);
  animation-fill-mode: forwards;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: #{1 + $i * 0.1}s;
    }
  }
}