---
layout: dashboard
---
<div class="TextColumn">
  <div class="HeadingBox">
    <h1>{{ page.title | upcase }}</h1>
    <h2>{{ page.date | date_to_string }}</h2>
  </div>
  <article class="ContentBox">
    <img src="{{ page.image }}" alt="{{ page.alt }}" style="width: 50%; height: auto;">
    {{ content }}
  </article>
  <div class="ButtonContainer">
    <a href="/blog.html" class="button">
      <div>
          <h1>Blog Posts</h1>
          <img src="/assets/images/Down Arrow.svg" alt="Blog" style="height: 1rem; width: auto;">
      </div>
    </a>
  </div>
</div>