---
layout: default
---
<div class="postContentBox">
  <div class="TextColumn BlogPost">
    <div class="HeadingBox">
      <h1>{{ page.title | upcase }}</h1>
      <h2>{{ page.date | date_to_string }}</h2>
    </div>
    <div class="ContentBox">
      <img src"{{ page.image }}" alt="{{ page.alt }}" style="width: 100%; height: auto;">
      {{ content }}
    </div>
    <div class="Buttons">
      <a href="/blog.html">
        <div class="button">
          Back
        </div>
      </a>
    </div>
  </div>
</div>