---
layout: dashboard
---

<div class="LimbContentWrapper">
  {% include viewport.html %}

  <div class="TextColumn">
    <div class="HeadingBox">
      <h1>{{ page.heading | upcase }}</h1>
      <h2>{{ page.subheading | upcase }}</h2>
    </div>
    <article class="ContentBox">
      {{ content }}
    </article>
    <div class="ButtonContainer">
      <a href="/hanger.html" class="button">
        <div>
            <h1>LEARN MORE</h1>
            <img src="/assets/images/Down Arrow.svg" alt="Blog" style="height: 1rem; width: auto;">
        </div>
      </a>
    </div>
  </div>
</div>